# Sensitive varialbes - copy this to secrets.pkrvars.hcl and edit with you actual credentials
proxmox_username = "your-proxmox-api-username-and-token"
proxmox_token = "your-proxmox-api-secret"
ssh_password = "ubuntu"